<div class="card">
    <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptatem optio modi magnam enim? Saepe
        totam eaque, dolores aperiam quasi possimus neque similique. Veniam dolore nobis quisquam ad quidem, soluta
        expedita obcaecati maiores dolorem maxime laboriosam vitae voluptatem reprehenderit sapiente?</p>
    </div>

</div>