<div class="jumbotron mt-4">
    <h1 class="display-4">Agenda Platzi</h1>
    <p class="lead">Todo app usando Node, Express, Handlebars y Passport.</p>
    <hr class="my-4">
    <p>Lleva el registro de los cursos que estas realizando, crea tu usuario en Registro y e Ingresa para empezar con tu agenda. Original de Fazt.</p>
    <a href="http://platzi.com" class="bt btn-primary btn-lg">Ir a Platzi!</a>
</div>