<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate minus architecto quibusdam ex
        mollitia porro fugit totam nesciunt, accusantium similique quia accusamus illo tempore dolor nulla quasi
        explicabo quam.</p>
    <a href="http://platzi.com" class="bt btn-primary btn-lg">PlatziMaster</a>
</div>